.container {
    position: fixed;
    width: 5vh;
    height: 5vh;
    left : calc((100% - 5vh)/2);
    top : calc((100% - 5vh)/2);
    /* margin: calc((100vh - 5vh)/2) calc((100% - 5vh)/2); */
}

.box {
    position: absolute;
    width : calc(5vh * 5);
    height : calc(5vh * 5);
    text-align : center;
    line-height: calc(5vh * 5);
    overflow: hidden;
    color:white;
    font-size: 1.2em;
}

.b1 {
    background-color: blue;
    bottom : 0;
    left : calc((100% - 5vh * 5)/2);
}

.b2 {
    background-color: chartreuse;
    right : 0;
    color : black;
    z-index : -1;
}

.b3 {
    background-color:fuchsia;
}

/*============================================*/

.b1:hover {
    z-index : 1;
}

.b2:hover {
    z-index: 1;
}

.b3:hover {
    z-index: -2;
}