* {
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    width: calc(1024px*0.8);
    margin: auto;
}

header {
    height: 20vh;
}

main {
    height: 60vh;
}

footer {
    line-height: 20vh;
    background-color: bisque;
    text-align: center;
}

/*==============main===============*/

#section_article {
    display: inline-block;
    height: 100%;
    width: 70%;
}

section {
    background-color: lightgray;
    height: 60%;
    line-height: calc(60vh*0.6);
    text-align: center;
}

article {
    background-color: darkolivegreen;
    height: 40%;
    line-height: calc(60vh*0.4);
    text-align: center;
}

aside {
    display: inline-block;
    background-color: darkgoldenrod;
    width: 30%;
    height: 100%;
    vertical-align: top;
    margin-left: -0.7%;
    text-align: center;
    line-height: 60vh;
}

/*==============header===============*/

ul {
    list-style: none;
    height: 100%;
}

h1,
li,
nav {
    display: inline-block;
}

nav {
    margin-left: 10px;
    margin-top: 60px;
}

h1 a {
    background: url(../../image/starbucks.jpg) no-repeat center/cover;
    width: 120px;
    height: 120px;
    margin-left : 30px;
    margin-right: 30px;
    vertical-align: middle;
}

h2 a {
    background: url(../../image/menu.jpg)no-repeat;
    width: 106px;
    height: 38px;
    margin: 20px;
    margin-left: 20px;
}

a {
    display: inline-block;
    text-indent: -9999em;
}

li:nth-of-type(1) a{
    background-position: -3px -3px;
}

li:nth-of-type(1) a:hover{
    background-position: -3px -42px;
}

li:nth-of-type(2) a {
    background-position: -112px -3px;
}

li:nth-of-type(2) a:hover {
    background-position: -112px -42px;
}

li:nth-of-type(3) a {
    background-position: calc(-112px*2) -3px;
}

li:nth-of-type(3) a:hover {
    background-position: calc(-112px*2) -42px;
}

li:nth-of-type(4) a {
    background-position: calc(-111px*3) -3px;
}

li:nth-of-type(4) a:hover {
    background-position: calc(-111px*3) -3px;
}