* {
    margin : 0;
}

.container {
    display : grid;
    height : 100vh;
    gap: 3px;
}

.container>div {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap : 3px;
}

.container div div {
    background-color: cadetblue;
}

.container div:nth-child(2n+1) div:nth-child(2n),
.container div:nth-child(2n) div:nth-child(2n+1) {
    opacity: .3;
}
