* {
    margin: 0;
    padding: 0;
}

.box {
    width : 100px;
    height : 100px;
    background-color: yellow;
    border : 1px solid red;
    box-sizing: border-box;
    text-align: center;
    line-height : 100px;
    position:absolute;
}

.b1 {
    left:0;
}
.b2 {
    right:0;
}
.b3 {
    bottom:0;
}
.b4 {
    right:0;
    bottom:0;
}
body {
    /* margin : 10px; */
}