* {
    margin : 0;
    padding: 0;
}

body>div {
    height : 100vh;
    display: grid;
    grid-template : repeat(9, 1fr) / repeat(9, 1fr);
}

div>div {
    background-color: cadetblue;
}

div>div:nth-child(even) {
    opacity: .7;
}
