* {
    margin : 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: repeat(9, 1fr) / repeat(9, 1fr);
    height : 100vh;
}
.container>div {
    background-color: cadetblue;
}

.container>div:nth-child(2n) {
    opacity: .3;
}

