body {
    background: url(../../image/subpage4.jpg) center/cover;
    background-repeat: no-repeat;
    line-height:100vh;
    font-size: 0.8em;
    color:green;
    text-align:center;
    margin: 0;
}


p {
    display: inline-block;
    line-height:normal;
    width : 300px;
    height : 300px;
    vertical-align:middle;
    background: url(../../image/subpage3.jpg) 0 0/100% 100%;
    background-repeat: no-repeat;
    white-space: pre-line;
    overflow:auto;
    opacity:.8;
}

span {
    font: bold 1.5em normal;
    color:blueviolet;
}
