p {
    border:1px solid blue;
}

h2:nth-of-type(1):hover+p {
    letter-spacing: 5px;
}

h2:nth-of-type(2):hover+p {
    height:150px;
}
h2:nth-of-type(3)+p {
    height:150px;
}
h2:nth-of-type(3):hover+p {
    line-height: 50px;
}
h2:nth-of-type(4):hover+p {
    text-align: center;
    line-height: 100px;
}
h2:nth-of-type(6)+p {
    text-align: center;
    line-height:100%;
}

div {
    text-align: center;
    line-height: 100px;
}
h2:nth-of-type(7) + div:hover p {
    line-height: normal;
}
