.container {
    width: 430px;
    background-color: hotpink;
    display: inline-block;
}

.container div {
    width: 100px;
    line-height: 100px;
    background-color: blue;
    color : white;
    text-align: center;
    float : left;
}

.container div:not(:nth-child(4n)) {
    margin-right: 10px;
}

.container div:nth-child(-n + 12) {
    margin-bottom: 10px;
}


