.container {
    width: 430px;
    background-color: hotpink;
}

.container div {
    width: 100px;
    line-height: 100px;
    margin-right: 10px;
    margin-bottom : 10px;
    background-color: blue;
    color : white;
    text-align: center;
    float : left;
}

div div:nth-child(4n) {
    float : right;
    margin: 0;
}

div div:nth-child(n+13) {
    margin-bottom: 0;
}

.container::after {
    display : block;
    content: "";
    clear : both;
}

