* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

header,
main {
    width: 600px;
}

header>nav>ul {
    background-color: darkslategray;
    color: white;
    display: flex;
}

header nav>ul>li {
    line-height : 40px;
    flex : 1;
    padding : 0 20px;
    position: relative;
}

header nav ul ul {
    display: none;
    position : absolute;
    left : 0;
    background-color: cadetblue;
    width : 100%;
}
header nav ul ul li {
    padding : 0 20px;
    font-size: .7em;
}


header nav>ul>li:hover ul {
    display: block;
}

/*================================*/
/* main */

main p {
    margin-top: 20px;
    text-align: justify;
    word-break: break-all;
}