* {
    margin: 0;
    padding: 0;
    list-style: none;

    /* 
        사용자가 요소를 선택 및 드래그할 수 있는지의 여부를 지정.
        디폴트값은 auto 이며 text 도 지정 가능.
    */
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_container {
    position: relative;
    margin: 20px 0;
}

p {
    font-size: 1.5em;
    text-align: justify;
    word-break: break-all;
}

/* =========================================================================== */

.main_container .slide_list {
    width: 400px;
    height: 500px;
    overflow: hidden;
    border-radius: 50px;

    position: relative;
}

.main_container .slide_list li {
    position: absolute;
    left: 100%;

}

.main_container .slide_list li:first-child {
    left: 0;
}

.main_container .slide_list li.animated {
    transition: all .7s;
}

.main_container .slide_list li,
.main_container .slide_list img {
    width: 100%;
    height: 100%;
}

/* =========================================================================== */

.main_container a {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    opacity: .2;
    transition: opacity .3s ease-in-out;
}

.main_container a:hover {
    opacity: 1;
}

.btn_back {
    right: 105%;
}

.btn_foward {
    left: 108%;
}

.nonVisible {
    display: none;
}

/* =========================================================================== */

.pager {
    width: 600px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
}

.pager a {
    display: block;
    background: darkgray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 3px;

    transition: all .3s ease-in;
}

.pager a:first-child {
    background: rgb(49, 47, 47);
}