* {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 500px;
  height: 700px;
  vertical-align: top;
}

.nation_container {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.nationBox {
  display: inline-flex;
  width: 30px;
  height: 30px;
  background-color: dimgrey;
  color: coral;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  text-decoration: none;
}
