.main {
    width : 600px;
}
.mainbox {
    width : 80%;
    height: 150px;
    background-color : bisque;
}

p:nth-of-type(1) {
    width : 35px;
    height : 35px;
    background: url(../../image/starbucks.jpg) 100%;
    background-size : cover;
    
}