.main {
    width : 600px;
    margin : auto;
}
.mainbox {
    width : 80%;
    height: 150px;
    /* background-color : bisque; */
    vertical-align: center;
    float : left;
}


p:nth-of-type(2) {
    font-size : 12px;
}

.subbox {
    width:20%;
    height:150px;
    background : url(../../image/hamburger_image.jpg) 100% no-repeat/cover;
    float : left;
}


.blog-profile {
    width : 50px;
    float: left;
}

.margin {
    margin : 5px;
}
.blog-name {
    float: left;
}

.blog-content {
    clear : both;
}