div {
    background: yellowgreen;
    height: 100px;
    margin:20px;
}
span {
    background-color: aquamarine;
}

.inline {
    margin:10px;
    padding: 10px;
    border:solid 1px;
}

.inlineblock {
    display : inline-block;
    margin:20px;
    padding:10px;
    border: solid 1px;
}
