ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    background-color: rgb(181, 204, 253);
    color:white;
    line-height: 50px;
    width: 100px;
    text-align: center;
    margin: 1px;
}

img {
    display: none;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


p:hover+img {
    display: block;
}
p:not(p:hover) {
    opacity: .5;
}


