
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    background-color: skyblue;
    line-height:30px;
    width:60px;
    margin:1px;
    text-align:center;
    color:white;
}
img {
    display: none;
    width:200px;
    height:200px;
    
}

p:hover+img {
    display: block;
}
p:not(p:hover) {
    opacity: .3;
}