.box1 {
    background-color: brown;
}

.box2 {
    background-color: blueviolet;
}

.box3 {
    background-color: blue;
}

.box4 {
    background-color: red;
}

.box5 {
    background-color: green;
}

.box6 {
    background-color: yellowgreen;
}

.box7 {
    background-color: black;
}

.box8 {
    background-color: coral;
}

.box9 {
    background-color: cadetblue;
}

.box10 {
    background-color: deeppink;
}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.grid {
    display: grid;
}

/* =================================== */

.container1 {
    grid-template-columns: repeat(auto-fill, 100px);
}

.container2 {
    grid-template-columns: repeat(auto-fit, 100px);
}

.container3 {
    grid-template: repeat(2, 50px) / repeat(auto-fill, minmax(100px, 1fr));
}

.container4 {
    grid-template: repeat(2, 50px) / repeat(auto-fit, minmax(100px, 1fr));
}

