<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee; http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<!-- ... xsi:schemaLocation=.... /ns/javaee; http://ja.... 사이에 ; 넣어주면 오류 사라짐  -->
  <display-name>web01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- url 매핑 순서
  	=> 1) servlet 정의 
  	=> 2) 매핑			-->
  <servlet>
  	<servlet-name>guguServlet</servlet-name>
  	<servlet-class>servlet01.Ex02_GuGu</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>guguServlet</servlet-name>
  	<url-pattern>/GuGu</url-pattern>
  	<url-pattern>/gugu</url-pattern>
  	<url-pattern>/99</url-pattern>
  </servlet-mapping>
</web-app>