p {
    border: 1px solid blue;
    width: 500px;
}

p:nth-of-type(1) {
    text-align: left;
}

p:nth-of-type(2) {
    text-align: right;
}

p:nth-of-type(3) {
    text-align: center;
}

p:nth-of-type(4) {
    text-align: justify;
}


p:nth-of-type(4):hover {
    word-break: break-all;
}

div {
    background-color: bisque;
    text-align: center;
}

div:hover p {
    display: inline-block;
    width: 200px;
}