* {
    margin: 0;
    color: white;
}

#grid_container {
    height: 100vh;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(2, 1fr) .5fr .5fr;
}

#grid_container div {
    display: flex;
    justify-content: center;
    align-items: center;
}


#grid_container div:not(:first-child) {
    font-size: 1.5em;
}

.logo {
    background-color: blueviolet;
    font-size: 3em;
    color: red;

    grid-area: 1 / 1 / 3 / 2;
}

.menu {
    background-color: lightgreen;
    grid-area: 1 / 2 / 4 / 3;
    z-index: 1;
}

.login {
    background-color: blue;
    grid-area: 1 / 3 / 2 / -1;
}

.contents {
    background-color: orange;
    grid-area: 3 / 1 / -2 / 3;
}

.aside {
    background-color: cadetblue;
    grid-area : 2 / 3 / -2 / -1 ;
}

.footer {
    background-color: hotpink;
    grid-area: 7 / 1 / -1 / -1;
}

.scrollTop {
    background-color: greenyellow;
    z-index: 1;
    grid-area: 6 / 4 / -1 / -1 ;
}